*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light;
  background-color: #F9F9F9;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --color-text-primary: #111111;
  --color-text-secondary: #545454;
  --color-text-placeholder: #A0A0A0;
  --color-text-tertiary: #7E7E7E;
 

  --bg-color-primary: #F9F9F9;
  --bg-color-secondary: #F3F3F4;
  --bg-color-tertiary: #CFD4DA;
}

input{
  background-color:white;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

select {
  background-color: white;
  color:black;
  outline:none;
  cursor:pointer;


}

body {
  margin: 0;
  min-width: 280px;
  min-height: 100vh;
  color: var(--color-text-primary);

}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  cursor: pointer;
  background-color: transparent;
  border: none;
  outline: none;  
}
table{
  border-collapse: collapse;
}


@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  
}
